.im{
    transition: transform 1s ;
}

.im:hover{
    transform: scale(1.1);
}

.img{
    background-image: url('../images/about-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 550px) {

   .pic{
        width: 300px;
        height: 300px;
    }
}


